*{
    margin:0;
    padding: 0;
}
h1{
    font-size: 24px;
    color: #222;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 4vh;
}
h2{
    font-size: 20px;
    color: #222;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 6vh;
}
body {
    width:100%;
    background-color: rgb(255, 255, 255);
}
header{
    width: 100%;
    background-color: gray;
}
nav{
    padding-bottom: 4vh;
    padding-top: 4vh;
    width:100%;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    font-size: 24px;
    padding-left: 10vw;
   
}
nav ul li a{
    text-decoration: none;
    color:black

}
main{
    margin-top: 4vh;
    margin-left:4vw;
    font-family: cursive;
}
main div{
    width: 90%;
    margin:0 auto;
}

main div img{
    width: 100%;
    margin-top: 8vh;
}
footer{
    margin-top: 6vh;
    text-align:center;
    background-color: gray;
}
@media only screen and (min-width: 480px) and (max-width: 640px){

}
@media only screen and (min-width:980px){
    h1{
        font-size: 60px;
        color: #222;
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding-top: 8vh;
    }
    h2{
        font-size: 50px;
        color: #222;
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding-top: 8vh;
    }
    nav ul li{
        display: inline;
        font-size: 50px;
        padding-left: 16vw;
    
    }
    nav ul li a{
        text-decoration: none;
        color:black
    }
    main{
        display: flex;
        font-family: cursive;
        font-size: 40px;
        text-align: center;
    }
    main div{
        width: 90%;
        margin:0 ;
        display:flex;
    }

    main div img{
        width: 75%;
        margin-top: 8vh;
        margin-left:6vw;
        margin-bottom: 8vh;
    }
    footer{
        margin-top: 10vh;
        text-align:center;
        background-color: gray;
        font-size: 2rem;

    }
    }